{{!-- <nav id="navcontainer">
    <ul id="navbar">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/Topmovies">Movies</a></li>
        <li class="nav-item"><a href=""></a></li>
        <li class="nav-item"><a href=""></a></li>
        <li class="nav-item"><a href=""></a></li>
        <li class="nav-item"><a href=""></a></li>
    </ul>
</nav> --}}

{{!-- <div class="navcontainer">
		<ul class="navbar">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/Topmovies">Movies</a></li>
			
		</ul>
	</div> --}}

<div class="nav">
  <ul>
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/Topmovies" class="nav-link">Movies</a></li>
    <li><a href="/about" class="nav-link">About</a></li>
    <li><a href="/Interests" class="nav-link">Interests</a></li>
  </ul>
</div>