{{!-- <h3 id="inspire">"The impossiple is nothing"</h3> --}}

<img  id = "crop101" src="images/crop101.png" alt="">

{{!-- <img id="aboutp" src="images/aboutp.jp.JPG" alt="">
     --}}
<div class="summary1">
  <p>"This year I started my Apprenticeship in software development.
     Before embarking on this journey I had little to no experience
     In the field,but my curiosity and eagerness to learn got the 
     better of me.So far I barely scrathed the surface of this ever-evolving
     world and the more I learn the more there is."-Talal Sajad
  </p>
</div>

<style>
body {

  background-image: url('https://guidetoiceland.imgix.net/529305/x/0/green-northern-lights-above-a-mountain-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>