

<style>
body,html {
  height: 100%;
}

</style>

<body>

<div class="bg-image img1">
    <div class="centered">My Top 3 movies </div>
    {{!-- <h1 id ="movie-title">TOP 5 MOVIES OF 2022</h1> --}}
</div>
<div class="bg-image img2">
    <div class="top2">3.Avatar the way of water</div>
    {{!-- <h1 id ="moviet1">5. Avatar the way of water</h1> --}}
</div>
<div class="bg-image img3">
    <div class="top3">2.Puss and Boots: The last wish</div>
    {{!-- <div class="centered">My Top 3 movies </div> --}}
</div>
<div class="bg-image img4">
  <div class="top4">1. The Whale</div>

</div>
</body>

{{!-- <body>
<div class="container">
  
  <div class="top-left">Top Left</div>
  <div class="centered">Centered</div>
</div>
</body> --}}

